.Colection__box {
  padding-top: 210px;
}
@media (max-width: 992px) {
  .Colection__box {
    position: relative;
  }
}
@media (max-width: 993px) {
  .Colection__box .View__title__box {
    margin: -114px 0px 0px 732px;
  }
}
@media (max-width: 1390px) {
  .Colection__box .View__title__box {
    margin: -445px 0px 0px 432px;
  }
}
@media (min-width: 1392px) {
  .Colection__box .View__title__box {
    margin: -113px 0px 0px 730px;
  }
}
@media (max-width: 992px) {
  .Colection__box .Title_on__page {
    position: absolute;
    margin: -43px 0px 0px 100px;
    color: #FFF;
    font-family: Orbitron;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (min-width: 995px) {
  .Colection__box .Title_on__page {
    padding: 0px 0px 0px 109px;
    color: #FFF;
    font-family: Orbitron;
    font-size: 26.531px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.Colection__button__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-height: 98.386px;
}
@media (min-width: 993px) {
  .Colection__button__box {
    padding: 0px 0px 0px 0px;
    margin: 50px 0px 0px 0px;
    gap: 43.11px;
  }
}
@media (max-width: 992px) {
  .Colection__button__box {
    padding: 0px 25px 0px 0px;
    margin: -50px 0px 0px 27px;
    gap: 19px;
  }
}
.Colection__button__box .button__style {
  justify-content: center;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Orbitron;
}
@media (min-width: 1401px) {
  .Colection__button__box .button__style {
    font-size: 26.531px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 368.118px;
    height: 98.386px;
  }
}
@media (max-width: 1390px) {
  .Colection__button__box .button__style {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 160.118px;
    height: 50.386px;
  }
}
@media (max-width: 992px) {
  .Colection__button__box .button__style {
    font-size: 10.992px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 152.517px;
    height: 40.763px;
  }
}
.Colection__button__box .active__button__col {
  background: linear-gradient(130deg, #FF56F6 18.31%, #B936EE 43.26%, #3BACE2 85.44%, #406AFF 100%);
}

@media (min-width: 993px) {
  .Colection__img {
    margin-top: -82px;
  }
}
@media (max-width: 992px) {
  .Colection__img {
    margin-top: 151px;
    padding-left: 97px;
  }
}

@media (min-width: 1401px) {
  .Celection__photo {
    width: 435.551px;
    height: 814.723px;
  }
}
@media (max-width: 1390px) {
  .Celection__photo {
    width: 250.551px;
    height: 500.723px;
  }
}
@media (max-width: 992px) {
  .Celection__photo {
    width: 185.893px;
    height: 347.723px;
  }
}

.View__title {
  display: flex;
  color: #FFF;
  font-family: Orbitron;
  text-decoration: none;
  align-items: center;
}
.View__title span {
  display: flex;
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #FFF;
  padding-left: 1px;
}
.View__title span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 72%;
  width: 15px;
  height: 3px;
  transform: rotate(-45deg);
  background-color: #FFF;
}
.View__title span::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 72%;
  width: 15px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #FFF;
}
@media (max-width: 992px) {
  .View__title {
    position: absolute;
    top: 384px;
    right: 30px;
    font-size: 8.244px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 5px;
    align-items: center;
  }
  .View__title span {
    height: 1px;
    width: 19px;
  }
  .View__title span::after {
    height: 1px;
    width: 4px;
    top: -2px;
  }
  .View__title span::before {
    height: 1px;
    width: 4px;
    top: 2px;
  }
}
@media (min-width: 1401px) {
  .View__title {
    display: flex;
    color: #FFF;
    font-family: Orbitron;
    font-size: 19.898px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    gap: 13.58px;
  }
}

.Colection__container {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .Colection__container {
    flex-direction: column;
    margin: 48px 0px 0px 0px;
  }
}
@media (min-width: 993px) {
  .Colection__container {
    margin-left: -32px;
    gap: 130px;
  }
}/*# sourceMappingURL=Colection.css.map */