.Colection__box {
    padding-top: 210px;
    @media (max-width:992px) {
        position: relative;
        
    }
    .View__title__box{
        @media (max-width:993px) {
            margin: -114px 0px 0px 732px;
            
        }
       @media (max-width:1390px) {
        margin: -445px 0px 0px 432px;
       }
    }
    .Title_on__page {
    
        @media (max-width:992px) {
           position: absolute;
           margin: -43px 0px 0px 100px;
            color: #FFF;
            font-family: Orbitron;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
       @media (min-width: 995px) {
        padding: 0px 0px 0px 109px;
        color: #FFF;
        font-family: Orbitron;
        font-size: 26.531px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
       }
       
     }
 }
.Title { }

 
.Colection__button__box {
    @media (min-width: 993px) {
        padding: 0px 0px 0px 0px;
        margin: 50px 0px 0px 0px;
        gap: 43.11px;
    }
    @media (max-width: 992px) {
        padding: 0px 25px 0px 0px;
        margin: -50px 0px 0px 27px;
        gap: 19px;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 98.386px;
   






    .button__style {
        justify-content: center;
        background: none;
            color: rgba(255, 255, 255, 0.50);
            text-align: center;
            font-family: Orbitron;
        @media (min-width:1401px) {
            
            font-size: 26.531px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 368.118px;
            height: 98.386px;
        }
        @media (max-width:1390px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 160.118px;
            height: 50.386px;
        }
        @media (max-width:992px) {
            font-size: 10.992px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 152.517px;
            height: 40.763px;
        }
     }
     .active__button__col{
        background: linear-gradient(130deg, #FF56F6 18.31%, #B936EE 43.26%, #3BACE2 85.44%, #406AFF 100%);
     }
}

.Colection__img {
    
    @media (min-width:993px) {
        
        margin-top: -82px;
    }
    @media (max-width:992px) {
        margin-top: 151px;
        padding-left: 97px;
    }
 }
.Celection__photo {
    @media (min-width:1401px) {
        width: 435.551px;
        height: 814.723px;
    }
    @media (max-width:1390px) {
        width: 250.551px;
        height: 500.723px;
    }
    @media (max-width:992px) {
        width: 185.893px;
        height: 347.723px;
    }
 }
.View__title {
    display: flex;
    color: #FFF;
    font-family: Orbitron;
    text-decoration: none;
    align-items: center;
    span{
        display: flex;
        position: relative;
        width: 40px;
        height: 3px;
        background-color: #FFF;
        padding-left: 1px;
        &::before{
            content: '';
            position: absolute;
            top: 3px;
            left: 72%;
            width: 15px;
            height: 3px;
            transform: rotate(-45deg);
            background-color: #FFF; 

        }
        &::after{
            content: '';
            position: absolute;
            top: -5px;
            left: 72%;
            width: 15px;
            height: 3px;
            transform: rotate(45deg);
            background-color: #FFF;

        }
    }
    
    @media (max-width:992px) {
        position: absolute;
        top: 384px;
        right: 30px;
       
        font-size: 8.244px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        gap: 5px;
        align-items: center;
        span{
            height: 1px;
            width: 19px;
            
            &::after{
                height: 1px;
                width: 4px;
                top:-2px;
            }
            &::before{
                height: 1px;
                width: 4px;
                top:2px;
                
            }
        }

    }
   
    @media (min-width:1401px) {
            
            display: flex;
            color: #FFF;
            font-family: Orbitron;
            font-size: 19.898px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            align-items: center;
            
            gap: 13.58px;
            
            
        }

       
    
    }
 
.Colection__container{
    display: flex;
    justify-content: center;
    @media (max-width:992px) {
     flex-direction: column;   
     margin: 48px 0px 0px 0px;
    }
    @media (min-width:993px) {
        margin-left: -32px;
        gap: 130px;
        
    }
}
