ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  src: local("Spartan"), url("https://fonts.cdnfonts.com/s/46626/Spartan-SemiBold.woff") format("woff");
}
.Description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 103px;
  padding-left: 105px;
}
@media (max-width: 991.98px) {
  .Description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media (max-width: 1360px) {
  .Description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.Descript__box__text {
  grid-area: 1/1/2/2;
}
@media (max-width: 1360px) {
  .Descript__box__text {
    grid-area: 1/1/2/2;
    justify-content: center;
  }
}

.Title {
  display: block;
  width: 848px;
}
@media (max-width: 991.98px) {
  .Title {
    max-width: 291px;
    margin-top: -60px;
    margin-left: -74px;
  }
}
.Title h1 {
  color: #FFF;
  font-family: Spartan;
  font-size: 66.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.4%;
}
@media (max-width: 991.98px) {
  .Title h1 {
    font-family: Lato;
    font-size: 42px;
    font-weight: 700;
  }
}
.Title span {
  background: linear-gradient(to right, #FF56F6, #43A5E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
  font-family: inherit;
}

.Title__text {
  color: #FFF;
  width: 658px;
  font-family: Rajdhani;
  font-size: 26.531px;
  font-style: normal;
  font-weight: 400;
  line-height: 44.218px;
  padding-top: 21px;
}
@media (max-width: 991.98px) {
  .Title__text {
    width: 315px;
    font-size: 14px;
    line-height: 23.218px;
    margin-left: -74px;
    padding-top: 27px;
  }
}

.button__style {
  gap: 10px;
  display: flex;
  white-space: nowrap;
  border: 2.2px solid #3C79D4;
  -o-border-image: linear-gradient(35deg, #FFA6FA, #3C79D4);
     border-image: linear-gradient(35deg, #FFA6FA, #3C79D4);
  border-radius: 2.2px;
  border-image-slice: 1;
  background: linear-gradient(130deg, #FF56F6 18.31%, #B936EE 43.26%, #3BACE2 85.44%, #406AFF 100%);
  box-shadow: 0px 4.421836853px 107.2295455933px 0px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.1240844727px);
          backdrop-filter: blur(106.1240844727px);
  align-items: center;
  padding: 7.74px 9.95px 7.74px 9.95px;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button__style span {
  position: relative;
  display: flex;
  background-color: #FFF;
  justify-content: end;
  width: 31.68px;
  height: 3px;
}
@media (max-width: 991.98px) {
  .button__style span {
    height: 1px;
  }
}
.button__style span::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #FFF;
  width: 8px;
  top: 2px;
  right: -2.5px;
  transform: rotate(-45deg);
}
@media (max-width: 991.98px) {
  .button__style span::before {
    width: 5px;
    height: 1px;
  }
}
.button__style span::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #FFF;
  width: 8px;
  top: -2px;
  right: -2.5px;
  transform: rotate(45deg);
}
@media (max-width: 991.98px) {
  .button__style span::after {
    width: 5px;
    height: 1px;
  }
}

.Button__box {
  padding-top: 41px;
  display: flex;
  gap: 34.59px;
}
.Button__box button:last-child {
  background: none;
  border: none;
  font-family: Orbitron;
  font-size: 19.898px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(86deg, #42A6E3 0%, #FF56F6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .Button__box button:last-child {
    font-size: 12px;
  }
}
.Button__box .button__style {
  -webkit-clip-path: polygon(16% 0, 80% 0%, 100% 0, 100% 72%, 85% 100%, 0 100%, 0% 80%, 0 29%);
          clip-path: polygon(16% 0, 80% 0%, 100% 0, 100% 72%, 85% 100%, 0 100%, 0% 80%, 0 29%);
  padding: 19.9px 30px 18.79px 63.43px;
  font-size: 19.898px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 992px) {
  .Button__box .button__style {
    display: flex;
    gap: 9px;
    font-size: 12px;
    padding: 10px 28px 10.21px 25.39px;
  }
}
.Button__box .button__style span {
  width: 51.957px;
}
@media (max-width: 991.98px) {
  .Button__box .button__style span {
    width: 27.724px;
    margin-right: -9px;
  }
}
@media (max-width: 991.98px) {
  .Button__box {
    gap: 10.69px;
    padding-top: 31px;
    margin-left: -75px;
  }
}

.stat {
  padding-top: 64px;
  margin-left: -66px;
}
@media (max-width: 992px) {
  .stat {
    padding-top: 38px;
    margin-left: -139px;
  }
}

.stat__cont {
  display: flex;
}
.stat__cont li {
  margin-bottom: -3px;
  padding-left: 1px;
}
@media (max-width: 991.98px) {
  .stat__cont li {
    margin-bottom: -3px;
    padding-left: 1px;
  }
}
.stat__cont ul:first-child {
  border-right: 1.1px solid rgba(255, 255, 255, 0.26);
  padding-right: 14.84px;
}
@media (max-width: 991.98px) {
  .stat__cont ul:first-child {
    border: none;
    padding-right: 14.84px;
  }
}
.stat__cont ul:last-child {
  border-left: 1.1px solid rgba(255, 255, 255, 0.26);
  padding-left: 45.96px;
}
@media (max-width: 991.98px) {
  .stat__cont ul:last-child {
    border: none;
  }
}
.stat__cont ul:nth-child(2) {
  padding-right: 21.48px;
  padding-left: 40px;
}
@media (max-width: 991.98px) {
  .stat__cont ul:nth-child(2) {
    padding-left: 49.96px;
    padding-right: 18.48px;
  }
}
.stat__cont ul li:first-child {
  color: #FFF;
  font-family: Aldrich;
  font-size: 39.797px;
  font-style: normal;
  font-weight: 400;
  line-height: 53.062px;
  letter-spacing: 0.221px;
}
@media (max-width: 991.98px) {
  .stat__cont ul li:first-child {
    font-size: 18px;
    line-height: 28.313px;
    letter-spacing: 0.118px;
    padding-bottom: 6px;
  }
}
.stat__cont ul li:last-child {
  color: #FFF;
  font-family: Alethia Next;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.109px;
  letter-spacing: 0.221px;
}
@media (max-width: 991.98px) {
  .stat__cont ul li:last-child {
    color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.797px;
    letter-spacing: 0.118px;
  }
}

.Descript__box__nft {
  grid-area: 1/2/2/3;
  display: flex;
  padding-top: 17px;
  padding-left: 53px;
  -webkit-clip-path: polygon(26% 0%, 70% 0%, 100% 0, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 20%);
          clip-path: polygon(26% 0%, 70% 0%, 100% 0, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 20%);
}
@media (max-width: 1360px) {
  .Descript__box__nft {
    grid-area: 3/1/4/2;
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .Descript__box__nft {
    margin-top: -191px;
    margin-left: -132px;
    -webkit-clip-path: polygon(40% 0%, 70% 0%, 100% 0, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 19%);
            clip-path: polygon(40% 0%, 70% 0%, 100% 0, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 19%);
  }
}
@media (max-width: 1509px) {
  .Descript__box__nft {
    margin-left: -157px;
  }
}

.Img__box {
  background: url("../img/section1/image 62.png");
  width: 402px;
  height: 477px;
  position: relative;
  border-radius: 15px;
}
@media (max-width: 991.98px) {
  .Img__box {
    width: 324px;
    height: 385px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 60px;
  top: 358px;
  right: -157px;
  width: 336px;
  height: 181px;
  background: url("../img/Vector 684.png");
  -webkit-clip-path: polygon(12% 0, 75% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
          clip-path: polygon(12% 0, 75% 0%, 100% 0, 100% 100%, 0 100%, 0 25%);
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .card {
    top: 334px;
    right: 0px;
    max-width: 324px;
  }
}

.card__descript .card__text {
  padding-top: 5px;
  padding-left: 21px;
}
@media (max-width: 991.98px) {
  .card__descript .card__text {
    padding-top: 8px;
  }
}

.card__title {
  color: #FFF;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.375px;
  padding-left: 21px;
  padding-top: 26px;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .card__title {
    font-size: 17.053px;
    font-style: normal;
    font-weight: 700;
    line-height: 34.105px;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 3.32px;
  padding-left: 20px;
}

.profile__logo {
  border-radius: 50%;
}

.profile__name {
  color: #FFF;
  font-family: Rajdhani;
  font-size: 15.476px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
}
@media (max-width: 991.98px) {
  .profile__name {
    font-size: 14.921px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.105px;
  }
}

.vf {
  width: 12.16px;
  height: 13.266px;
  align-items: center;
}

.card__text {
  color: #FFF;
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
  opacity: 0.69;
}
@media (max-width: 991.98px) {
  .card__text {
    font-size: 10.658px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.105px;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 5.53px;
  margin-top: -12px;
  padding-left: 17px;
}
.price p {
  color: #FFF;
  font-family: Orbitron;
  font-size: 9.718px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price span {
  color: var(--white-white-100, #FFF);
  font-family: Rajdhani;
  font-size: 11.055px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.375px;
  opacity: 0.69;
}
@media (max-width: 991.98px) {
  .price p {
    font-family: Orbitron;
    font-size: 9.369px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .price span {
    font-size: 10.658px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.105px;
  }
}

.card__timer .card__text:first-child {
  padding-top: 26px;
  margin-left: -7px;
}
@media (max-width: 991.98px) {
  .card__timer .card__text:first-child {
    padding-top: 27px;
    margin-left: -8px;
  }
}
.card__timer .card__text:last-child {
  margin-top: -19px;
  margin-left: -1px;
}
@media (max-width: 991.98px) {
  .card__timer .card__text:last-child {
    margin-top: -17px;
    margin-left: -3px;
  }
}
.card__timer .button__style {
  margin-left: -15px;
  margin-top: 18px;
}
@media (max-width: 991.98px) {
  .card__timer .button__style {
    font-size: 17.053px;
    margin-left: -16px;
    margin-top: 17px;
  }
}
.card__timer .button__style span {
  width: 24.32px;
}
@media (max-width: 991.98px) {
  .card__timer .button__style span {
    width: 23.447px;
  }
}

.box__timer {
  display: flex;
  gap: 17.69px;
  margin-top: -11px;
  margin-left: -6px;
}
@media (max-width: 991.98px) {
  .box__timer {
    margin-left: -7px;
  }
}
.box__timer .card__text {
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .box__timer .card__text {
    font-family: Rajdhani;
    font-size: 10.658px;
    font-style: normal;
    font-weight: 500;
    line-height: 34.105px;
  }
}

.Time {
  color: #FFF;
  font-family: Rajdhani;
  font-size: 17.687px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.375px;
}
@media (max-width: 991.98px) {
  .Time {
    font-size: 17.053px;
    line-height: 34.105px;
    font-weight: 600;
  }
}

#Mins {
  margin-left: -1px;
}
#Secs {
  margin-left: 6px;
}

.Descript__box__partners {
  grid-area: 2/1/3/3;
  display: flex;
  gap: 135.76px;
  padding-top: 111px;
  align-self: start;
}
@media (max-width: 1360px) {
  .Descript__box__partners {
    grid-area: 2/1/3/2;
  }
}
@media (max-width: 991.98px) {
  .Descript__box__partners {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 28px;
    margin-left: -74px;
  }
}
@media (max-width: 1509px) {
  .Descript__box__partners {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
  }
}

.partners__img:nth-child(1) {
  background: url("../img/section1/Binance_logo logo.png");
  background-size: cover;
  width: 265.31px;
  height: 53.062px;
}
@media (max-width: 991.98px) {
  .partners__img:nth-child(1) {
    grid-area: 1/1/2/2;
    width: 143.077px;
    height: 28.615px;
  }
}
.partners__img:nth-child(2) {
  background: url("../img/section1/Ethereum logo.png");
  background-size: cover;
  width: 170.241px;
  height: 53.062px;
}
@media (max-width: 991.98px) {
  .partners__img:nth-child(2) {
    grid-area: 1/2/2/3;
    width: 91.808px;
    height: 28.615px;
    margin-left: 21px;
    margin-top: 2px;
  }
}
.partners__img:nth-child(3) {
  background: url("../img/section1/Logo_of_Blockchain.io logo.png");
  background-size: cover;
  width: 349.325px;
  height: 53.062px;
}
@media (max-width: 991.98px) {
  .partners__img:nth-child(3) {
    grid-area: 2/1/3/2;
    width: 188.384px;
    height: 28.615px;
    margin-left: -10px;
    margin-top: 16px;
  }
}
.partners__img:nth-child(4) {
  background: url("../img/section1/bitmex 1.png") no-repeat;
  background-size: cover;
  width: 196.398px;
  height: 31.369px;
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .partners__img:nth-child(4) {
    grid-area: 2/2/3/3;
    width: 105.914px;
    height: 16.917px;
    margin-left: 26px;
    margin-top: 23px;
  }
}/*# sourceMappingURL=Descript_section.css.map */