@media (min-width: 992px) {
  .AcordeonMobile {
    display: none;
  }
  .AcordeonPC {
    display: flex;
  }
  footer {
    padding: 163px 0px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .AcordeonMobile {
    display: flex;
  }
  .AcordeonPC {
    display: none;
  }
}
.up__footer__box {
  padding-top: 85px;
  padding-bottom: 82px;
  display: flex;
  border-top: 1.1px solid gray;
}

.Ocean__NFT__footer {
  margin: 11px 0px 0px 151px;
}

@media (min-width: 1000px) {
  .logo__footer {
    margin: 2px 0px 0px -69px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .logo__footer h2 {
    color: #FFF;
    font-family: Orbitron;
    font-size: 19.898px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .logo__footer img {
    width: 16.582px;
    height: 26.811px;
  }
}

@media (min-width: 1000px) {
  .FooterDESC {
    margin: 33px 0px 0px -68px;
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: "salt" on, "liga" off;
    font-family: Inter;
    font-size: 15.476px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.531px;
    width: 281.892px;
  }
}

.soc_media {
  display: flex;
}
@media (min-width: 1000px) {
  .soc_media {
    margin: 25px 0px 0px -69px;
    gap: 18px;
  }
  .soc_media img {
    width: 26.531px;
    height: 26.531px;
  }
}

.AcordeonPC {
  display: flex;
  margin: 10px 0px 0px 89px;
  gap: 33.16px;
}
.AcordeonPC span {
  padding-left: 10px;
  color: var(--brand-turquoise, #2EC5CE);
  font-family: MuseoModerno;
  font-size: 22.109px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.531px;
}
.AcordeonPC h2 {
  width: 176.873px;
  color: var(--default-white, #FFF);
  font-feature-settings: "salt" on, "liga" off;
  font-family: Inter;
  font-size: 19.898px;
  font-style: normal;
  font-weight: 500;
  line-height: 30.953px;
  padding-bottom: 1px;
}
.AcordeonPC a {
  padding-top: 15px;
  width: 176.873px;
  text-decoration: none;
  display: flex;
  color: var(--text-gray-300, #D9DBE1);
  font-feature-settings: "salt" on, "liga" off;
  font-family: Inter;
  font-size: 15.476px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.531px;
}

.endLine {
  display: flex;
  border-top: 1.1px solid gray;
}
@media (min-width: 993px) {
  .endLine {
    padding: 28px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .endLine div:last-child {
    margin: -2px 0px 0px 687px;
  }
  .endLine a:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .endLine p {
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: "salt" on, "liga" off;
    font-family: Inter;
    font-size: 15.476px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.531px;
    margin: 0px 0px 0px 80px;
  }
  .endLine a {
    text-decoration: none;
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: "salt" on, "liga" off;
    font-family: Inter;
    font-size: 15.476px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.531px;
  }
  .endLine a:first-child {
    padding: 0px 7px 0px 0px;
  }
  .endLine a:nth-child(2) {
    padding: 0px 15px 0px 12px;
  }
  .endLine a:last-child {
    padding: 0px 0px 0px 5px;
  }
}/*# sourceMappingURL=footer.css.map */