
.container-fluid {
    @media (min-width: 992px) {
        max-width: 1414px;
        padding-left: 20px;
        margin-top: 41px;
        gap: 212px;
    }
    @media (max-width:992px) {
        
        .container-fluid{
            
            padding-top: 1;
        padding-left: 1;
        }
     }
    
}
.navbar-brand {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    font-family: Orbitron;
    font-size: 19.898px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
    span:last-child{
        color: #FFFFFF;
    }
    &:hover{
        color: #FFFFFF;
    }
 }

.navbar-toggler {
    border: none;
 }
 
.navbar-toggler-icon {
    background-image: url('../img/header/burger.png');
    background-size: cover;
    width: 21.714px;
    height: 19.644px;
    flex-shrink: 0;
}

.navbar-collapse {
    gap: 487px;
    @media (max-width: 1599.8px) {
        gap: 70px;
        
    }
 }
.navbar-nav {
    
    justify-content: center;
    a{
        color: rgba(255, 255, 255, 0.60);
        font-family: Orbitron;
        font-size: 19.898px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &:hover{   
            color: #FFFFFF;
        }
        text-decoration: none;
    }
    &:first-child{
        gap: 66.33px;
    }
    &:last-child{
        gap: 40.9px;
    }
    
 }

.nav-item {
    display: flex;
    align-items: center;
 }
 
 @media (max-width: 992px) {
    .navbar-toggler{
        padding-right: 17px;
        margin-top: -8px;
    }
    .container-fluid{
        padding-left: 24px;
        padding-top: 13px;
    }
    span{
        color: rgba(255, 255, 255, 0.60);
        font-family: Orbitron;
        font-size: 16.128px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        };
       
    
}